body {
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}


thead {
	color: #009688;
}

tbody {
	color: #8BC34A
}

.port {
	background-color: rgba(255, 212, 94, 0.03);
}

.last-container{
    padding: 20px;
    text-align: center;
}

.navbar {
	margin-bottom: 0px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.cbp-af-header-shrink {
	padding-top: 5px;
	padding-bottom: 5px;
	opacity: 0.9;
}

#home {
	padding: 0px;
	background: #f7f1ce;
}

#top {
	position: absolute;
	bottom: -75px;
}

.navbar-header {
	position: relative;
}

.navbar-inverse {
	background-color: #eee;
	border-color: #7f7f7f;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #31708f;
    border-color: #333;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #31708f;
    background-color: #fff;
}

.navbar-toggle {
	background-color: darkslategrey;
}

.cbp-af-header {
	position: fixed;
}

@media screen and (max-width: 767px) {
	#top {
		position: absolute;
		bottom: -75px;
	}

	.intro-img {
		top: 50px;
		padding-bottom: 75px;
	}
}

@media screen and (min-width: 768px) {
	
	.cont-intro {
		margin-top: 100px;
		padding: 0px;
	}

	#top {
		position: absolute;
		bottom: -125px;
	}

	.intro-img {
		top: 50px;
		padding-left: 0px;
	}

	.container-fluid .jumbotron {
		height: 300px;
		padding-bottom: 0px;
		/*background-color: white;*/
	}

	.my-details-1 {
	padding-left: 150px;
	padding-top: 20px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	color: black;
	}

	.my-details-2 {
	padding-left: 100px;
	padding-top: 20px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	color: black;
	}

}

.intro-details {
	top: -275px;
	text-align: center;
	line-height: 4.428571;
    color: #a94442;
    font-size: 18px;
}


.table td,th {
	text-align: center;
}

@media screen and (min-width:768px) {
	.port-content {
		top: -125px;
	}
}



#aboutme img {
	padding-left: 0px;
	padding-top: 50px;
	height: 400px; 
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  border-left: 3px solid #337ab7;
  padding: 0px 20px;
  margin: 0 0 20px;
}

blockquote footer {
	padding: 0px;
	font-size: small;
	color: black;
	font-weight: bold;
} 

.last-container h1 {
	color: #283e4a;
}

.last-container h3, .info {
	color: #00bf8f;
	text-align: center;
}

.fa-facebook-official {
  color: #3b5998;
}

.fa-linkedin-square {
	color: #007bb5;
}

.fa-twitter {
	color: #55acee;
}

.fa-quora {
	color: #a82400;
}

.fa-google-plus-official {
	color: #dd4b39;
}

.fa {
	padding: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.projects h2 {
		padding-right: 100px;
		padding-left: 75px;
	}


	.intro-details {
		top: -180px;
	}

}

.projects h4 {
		padding-left: 75px;
		padding-top: 50px;
		font-family: 'Lato', sans-serif;
	}
	
.butn-align {
	padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 25px;
	}

.resume {
	padding-left: 40%;
    margin: 50px;
}

.resume h3 {
	font-weight: bolder;
}


.about-content {
	font-size: 16px;
    text-align: justify;
    color: rgb(87, 15, 15);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
	.projects h2 {
		padding: 40px;
		padding-bottom: 0px;
		padding-left: 75px;
	}
} 


@media screen and (max-width: 768px) {

	.projects h4 {
		padding-left: 50px;
		padding-top: 50px;
	}

	.projects h2 {
		padding-left: 50px;		
	}

	.my-details-1, .my-details-2 {
		padding-left: 35px;
		padding-top: 20px;
		font-weight: bold;
		font-family: 'Lato', sans-serif;

	}

	.my-details-1 {
		margin-bottom: 10px; 
	}
}

@media screen and (max-width: 426px) {

	.resume {
		padding-left: 25%;
		margin: 50px;
	}

	.resume .btn {
		margin: 0px;
	}

	#aboutme img {
		margin-left: 65px;
	}

	blockquote {
		margin-top: 30px;
	}
}

@media screen and (max-width: 376px) {

	.resume {
		padding-left: 20%;
	}

	.resume .btn {
		margin: 0px;
	}

	#aboutme img {
		margin-left: 45px;
	}

	blockquote {
		margin-top: 30px;
	}
}

@media screen and (max-width: 321px) {

	.resume {
		padding-left: 50px;
	}

	.resume .btn {
		margin: 0px;
	}

	blockquote {
		margin-top: 30px;
	}

	#aboutme img {
		margin-left: 6.0%;
	}
}


@media screen and (max-width:1024px) {

	.fill-screen {
	background-position: center;
	background-size: cover;
	opacity: 0.9;
	height: 810px;
	margin-top: -50px;
	}	
}

@media screen and (min-width: 1025px) {

	.fill-screen {
	background-position: center;
	background-size: cover;
	opacity: 0.9;
	height: 810px;
	margin-top: 50px;
	}	
}

.fx-attachment {
	background-attachment: fixed;
	background-size: cover;
	margin-right: -15px;
}

#map {
	height: 500px;
	width: 100%;
	border: 10px solid gray;
	border-radius: 3px;
}

.down-button {
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
}

.down-button i{
	color: #E91E63;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #2196F3;
}


blockquote p {
	color: darkred;
	font-weight: bold;
}

#about-me {
	font-family: 'Vollkorn', serif;
}

.port-content h1 {
		color: #9C27B0;
	}
	
.port-content h2 {
		color: #286090;
		font-weight: bold;
	}

.projects h2 {
	color: #286090;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

.projects h4 {
	color: maroon;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

.margin-adj {
	margin-right: -15px;
}

.ccheck {
	padding: 0px;
}

@media screen and (min-height: 769px) {
	.down-button {
		bottom: 450px ;
	}
}

/*Timeline*/
.time-container {
	background-color: rgba(128, 128, 128, 0.09);
}

.timeline {
	position: relative;
	width: 860px;
	margin: 0px auto;
	padding: 20px;
	list-style-type: none;
}
@media (max-width: 860px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
}
.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #dff0d8;
  z-index: 5;
  opacity: 0.25;
}
.timeline li {
  padding: 1em 0;
}
@media (max-width: 860px) {
  .timeline li {
    padding: 2em 0;
    margin-left: 10px;
  }
}
.timeline li::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 375px;
  float: left;
  text-align: right;
}
@media (max-width: 860px) {
  .direction-l {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.direction-l .flag {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
@media (max-width: 860px) {
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
}
.direction-l .time-wrapper {
  float: left;
}
@media (max-width: 860px) {
  .direction-l .time-wrapper {
    float: none;
  }
}

.direction-r {
  position: relative;
  width: 375px;
  float: right;
}
@media (max-width: 860px) {
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.direction-r .flag {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
@media (max-width: 860px) {
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
}
.direction-r .flag:before {
  left: -40px;
}
.direction-r .time-wrapper {
  float: right;
}
@media (max-width: 860px) {
  .direction-r .time-wrapper {
    float: none;
  }
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
@media (max-width: 860px) {
  .flag-wrapper {
    text-align: center;
  }
}
.flag-wrapper .flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}
@media (max-width: 860px) {
  .flag-wrapper .flag {
    background: white;
    z-index: 15;
  }
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #58B96B;
  z-index: 10;
}
@media (max-width: 860px) {
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    margin-left: -10px;
  }
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #58B96B;
  vertical-align: middle;
}
@media (max-width: 860px) {
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
}
.time-wrapper .time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.5em;
  font-family: 'Josefin Slab', serif;
}
.desc a {
  color: #58B96B;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 860px) {
  .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    background: whitesmoke;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }
}